*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: #023047;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background-color: #669bbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo1{
    font-size: 32px;
    color: #3d405b;
    text-decoration: none;
    font-weight: 900;
}

.navbar1 a{
    font-size: 18px;
    color: #3d405b;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;
}

.navbar1 a:hover {
    color: #03045e;
}

.card{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #05668d;
    padding: 50px 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #2b044a;
    margin: 100px;
}

.img{
    margin-top: 5px;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   margin-bottom: 5px;
} 

.pergunta{
    color: #ffffff;
    margin: 5px;
}

.button{
    width: 190px;
    height: 55px;
    background: #669bbc;
    border: 2px solid #669bbc;
    outline: none;
    border-radius: 6px;
    box-shadow: 10px 10px 1px #023e8a;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
    transition: .5s;
    margin-top: 25px;
}

.button:hover{
    background: #03045e;
    box-shadow: none;
    transform: scale(1.2);
}

