@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* root */
:root {
  --card-color: #3b7e9438;
  --button-color: #ffffff8a;
  --hover-button: #e4e4e48a;
  --primary-color: #e6e6e6;
  --secondary-color: #ffffffbb;
  --terceira-color: #1a1919;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    #deeefa 0%,
    #78a5ce 40%,
    #567dbd 60%,
    #2955a1 100%
  );
  animation: move-gradient 5s infinite alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-size: 200% 200%;
}

@keyframes move-gradient {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

/* Start screen styles */
.startScreen {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.startScreen h1 {
  font-size: 70px;
  color: #d1eff8;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.startScreen p {
  font-size: 20px;
  font-weight: 500;
  color: var(--terceira-color);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* Start button styles */
.startButton {
  width: 190px;
  height: 55px;
  margin-top: 30px;
  background: var(--button-color);
  border: 2px solid #669bbcb2;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--terceira-color);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: 1s;
  overflow: hidden;
}

.startButton:hover {
  color: #d1eff8;
  transform: scale(1.1);
  border: 2px solid var(--primary-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
  z-index: -1;
}

.startButton:hover .wave {
  top: 0;
}

.wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

/* Quiz screen styles */
.questionContainer {
  width: 300px;
  max-width: 300px;
  height: 500px;
  padding: 0;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.questionContainer button {
  width: 260px;
  padding: 7px 0;
  font-size: 14px;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  font-size: 15px;
  margin: 0px 20px 0px 20px;
}

.answers {
  margin-bottom: -30px;
}

.header {
  width: 270px;
  gap: 100px;
  margin-top: -20px;
  padding-bottom: 20px;
}

.titleQuestions {
  font-size: 20px;
}

.questionsQtd {
  font-size: 14px;
}

.quizScreen {
  display: none;
}

/* Questions card quiz styles */
.questionContainer {
  background: #c9d8e538;
  width: 500px;
  max-width: 500px;
  height: 500px;
  min-height: 200px;
  border-radius: 15px;
  padding: 45px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(159, 225, 212, 0.27);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  overflow: hidden;
  position: relative;
}

/* Questions button styles */
.questionContainer button {
  width: 460px;
  margin-bottom: 20px;
  padding: 10px 0;
  background: var(--button-color);
  color: var(--terceira-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.questionContainer button:hover {
  background: var(--hover-button);
}

.letter {
  color: var(--terceira-color);
  font-size: 18px;
  font-weight: 400;
  width: 29px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border: 1px solid var(--terceira-color);
  border-radius: 20%;
  position: absolute;
  left: 50px;
  margin-top: -2px;
  transition: 0.3s ease;
  pointer-events: none;
}

.answer:hover .letter {
  background: var(--terceira-color);
  color: var(--secondary-color);
  pointer-events: none;
}

/* Question styles */
.question {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: var(--terceira-color);
  text-align: start;
}

/* Questions header styles */
.header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 470px;
  gap: 270px;
  position: relative;
  border-bottom: 1px solid #1a191934;
  padding: 5px 0;
}

.titleQuestions {
  font-size: 30px;
  color: #d6eff7;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.questionsQtd {
  color: #d6eff7;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Try again screen styles */
.tryAgainScreen {
  background: #c9d8e538;
  width: 500px;
  max-width: 500px;
  height: 500px;
  min-height: 200px;
  border-radius: 15px;
  padding: 45px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(159, 225, 212, 0.27);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.tryAgainScreen button {
  width: 240px;
  padding: 10px 0;
  background: var(--button-color);
  color: var(--terceira-color);
  border: 2px solid #669bbcb2;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  transition: 1s;
  overflow: hidden;
  letter-spacing: 1px;
}

.tryAgainScreen button:hover {
  color: #d1eff8;
  transform: scale(1.1);
  border: 2px solid var(--primary-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
  z-index: -1;
}

.tryAgainScreen button:hover .wave {
  top: 0;
}

.wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

.tryAgainScreen span {
  font-size: 18px;
  font-weight: 500;
  color: var(--terceira-color);
  text-align: center;
}

.tryAgainHand {
  width: 120px;
  margin-bottom: 50px;
}

/* Finish screen styles */
.finish {
  background: #c9d8e538;
  width: 500px;
  max-width: 500px;
  height: 500px;
  min-height: 200px;
  border-radius: 15px;
  padding: 45px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(159, 225, 212, 0.27);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.finish button {
  width: 220px;
  padding: 10px 0;
  background: var(--button-color);
  color: var(--terceira-color);
  border: 2px solid #669bbcb2;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  transition: 1s;
  overflow: hidden;
  letter-spacing: 1px;
}

.finish button:hover {
  color: #d1eff8;
  transform: scale(1.1);
  border: 2px solid var(--primary-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
  z-index: -1;
}

.finish button:hover .wave {
  top: 0;
}

.wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

.finish span {
  font-size: 18px;
  font-weight: 500;
  color: var(--terceira-color);
  text-align: center;
}

.mãoAplaudindo {
  width: 120px;
  margin-bottom: 50px;
}

/* Footer styles */
.footer {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 13px;
}

.nameContributors {
  text-decoration: none;
  color: inherit;
  margin-left: 5px;
  color: #d5f0f8;
}

.fa-heart {
  color: #c80909;
}

.fa-github {
  position: absolute;
  bottom: 37px;
  left: 5px;
  transition: 0.5s ease-in-out;
}

.gitHubLogo {
  text-decoration: none;
  color: inherit;
  color: var(--terceira-color);
}

.fa-github:hover {
  color: #d1eff8;
}

/* Mobile responsiveness */
@media (max-width: 520px) {
  /* Mobile start screen styles */
  .startScreen h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .startScreen p {
    font-size: 15px;
    margin: 0px 10px;
  }

  .startButton {
    width: 140px;
    height: 45px;
    font-size: 15px;
  }

  /* Mobile quiz screen styles */
  .questionContainer {
    width: 300px;
    max-width: 300px;
    height: 500px;
    padding: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .questionContainer button {
    width: 260px;
    padding: 7px 0;
    font-size: 14px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .letter {
    font-size: 14px;
    width: 26px;
    height: 25px;
    line-height: 25px;
    margin-left: -37px;
  }

  .answer:hover .letter {
    display: none;
  }

  .question {
    font-size: 15px;
    margin: 0px 20px 0px 20px;
  }

  .answers {
    margin-bottom: -30px;
  }

  .header {
    width: 270px;
    gap: 100px;
    margin-top: -20px;
    padding-bottom: 20px;
  }

  .titleQuestions {
    font-size: 20px;
  }

  .questionsQtd {
    font-size: 14px;
  }

  /* Mobile try again Screen styles */
  .tryAgainScreen {
    width: 300px;
    max-width: 300px;
    height: 500px;
    padding: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .tryAgainScreen button {
    width: 180px;
    padding: 10px;
    font-size: 15px;
  }

  .tryAgainScreen span {
    font-size: 15px;
    text-align: center;
  }

  .tryAgainHand {
    width: 90px;
    margin-bottom: 50px;
  }

  /* Mobile finish styles */
  .finish {
    width: 300px;
    max-width: 300px;
    height: 500px;
    padding: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .finish button {
    width: 150px;
    font-size: 16px;
  }

  .finish span {
    font-size: 15px;
    margin: 0 7px 0 7px;
    text-align: center;
  }

  .mãoAplaudindo {
    width: 90px;
    margin-bottom: 50px;
  }

  /* Mobile footer */
  .footer {
    bottom: 10px;
    width: 345px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: 400;
  }

  .footer a {
    margin-left: 1px;
  }

  .gitHubLogo {
    display: none;
  }
}

/* Background animation */
.svg {
  z-index: -1;
  position: absolute;
  bottom: 0;
}

svg path {
  animation: pathAnim 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

svg path:nth-child(2) {
  animation-delay: 1s;
}

svg path:nth-child(3) {
  animation-delay: 3s;
}

svg path:nth-child(4) {
  animation-play-state: paused;
}

@keyframes pathAnim {
  0% {
    d: path(
      "M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500"
    );
  }

  25% {
    d: path(
      "M0,100	C220,100,440,292,660,292 C880,292,1100,100,1320,100	L1320 500 L0 500"
    );
  }

  50% {
    d: path(
      "M0,192	C220,290,440,290,660,192 C880,100,1100,100,1320,192	L1320 500 L0 500"
    );
  }

  75% {
    d: path(
      "M0,292	C220,292,440,100,660,100 C880,100,1100,292,1320,292	L1320 500 L0 500"
    );
  }

  100% {
    d: path(
      "M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500"
    );
  }
}
