@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap%22");

/* Default styles */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins", sans-serif;
}

/* root */
:root {
  --card-color: #3b7e9438;
  --button-color: #ffffff8a;
  --hover-button: #e4e4e48a;
  --primary-color: #e6e6e6;
  --secondary-color: #ffffffbb;
  --terceira-color: #1a1919;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    #deeefa 0%,
    #78a5ce 40%,
    #567dbd 60%,
    #2955a1 100%
  );
  animation: move-gradient 5s infinite alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-size: 200% 200%;
}

@keyframes move-gradient {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

/* Start screen styles */
.startScreen {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.startScreen h1 {
  font-size: 70px;
  color: #d1eff8;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.startScreen p {
  font-size: 20px;
  font-weight: 500;
  color: var(--terceira-color);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* Start button styles */
.startButton {
  width: 190px;
  height: 55px;
  margin-top: 30px;
  background: var(--button-color);
  border: 2px solid #669bbcb2;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--terceira-color);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: 1s;
  overflow: hidden;
}
